.topbox::after {
    border-right: 4px solid #0f171e;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
    right: 0;
}
.container-login:hover .top-abstract:before, .container-login:active .top-abstract:before, .container-login:hover .bottom-abstract:before, .container-login:active .bottom-abstract:before, .container-login:hover .top-abstract:after, .container-login:active .top-abstract:after, .container-login:hover .bottom-abstract:after, .container-login:active .bottom-abstract:after {
    margin-left: 200px;
    transform-origin: -200px 50%;
    transition-delay: 0s;
}
.container-login:hover .center-form, .container-login:active .center-form {
    opacity: 1;
    transition-delay: 0.2s;
}
.top-abstract:before, .bottom-abstract:before, .top-abstract:after, .bottom-abstract:after {
    content: '';
    display: block;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    transition-delay: 0.2s;
}
.top-abstract:before {
    transform: rotate(45deg);
    background: #e46569;
}
.top-abstract:after {
    transform: rotate(135deg);
    background: #ecaf81;
}
.bottom-abstract:before {
    transform: rotate(-45deg);
    background: #60b8d4;
}
.bottom-abstract:after {
    transform: rotate(-135deg);
    background: #3745b5;
}
.center-form {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #333;
}
.center-form input {
    width: 100%;
    padding: 15px;
    margin: 5px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-family: inherit;
}
