.carousel-logos {
    width: 100%;
    display: flex;
    gap: 4rem;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.carousel-logo {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scroll 15s linear infinite;
}

@media screen and (max-width: 1200px) {
    .carousel-logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .carousel-logo {
        animation: none;
        width: auto !important;
    }

    .carousel-logo img {
        width: 100px;
        height: auto;
        max-width: 100%;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(calc(100vw));
    }
    100% {
        transform: translateX(calc(-55vw));
    }
}
