@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Rubik", sans-serif;
}

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-indigo-500 left-1/2 block bottom-0 absolute;
}

.animation-active:after {
  @apply left-0 w-full;
}

.animation-hover:hover:after {
  @apply left-0 w-full;
}

.text-animation-colors {
    color: transparent;
    background: rgb(255, 0, 0);
    background: linear-gradient(
            90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 149, 0, 1) 10%,
            rgba(255, 212, 0, 1) 20%,
            rgba(0, 181, 204, 1) 30%,
            rgba(0, 120, 255, 1) 40%,
            rgba(128, 0, 255, 1) 50%,
            rgba(255, 0, 234, 1) 60%,
            rgba(255, 0, 128, 1) 70%,
            rgba(255, 106, 0, 1) 80%,
            rgba(255, 0, 0, 1) 90%,
            rgba(255, 0, 0, 1) 100%
    );
    background-size: 500%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    animation: color-change 10s infinite ease-in-out;
}

@keyframes color-change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    to {
        background-position: 0 50%;
    }
}