@tailwind base;

@tailwind components;

@tailwind utilities;

[hidden] {
  display: none !important;
}

html {
  font-family: "Rubik", sans-serif;
}
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-indigo-500 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-indigo-500;
}
.slick-dots .slick-active span {
  @apply bg-indigo-500 rounded-l-full rounded-r-full w-12;
}

.text-animation-colors {
  color: transparent;
  background: rgb(255, 0, 0);
  background: linear-gradient(
          90deg,
          rgba(255, 0, 0, 1) 0%,
          rgba(238, 100, 10, 1) 7%,
          rgba(210, 169, 39, 1) 14%,
          rgba(234, 252, 62, 1) 21%,
          rgba(134, 248, 82, 1) 28%,
          rgba(99, 245, 156, 1) 35%,
          rgba(87, 241, 215, 1) 42%,
          rgba(75, 216, 237, 1) 49%,
          rgba(66, 158, 239, 1) 56%,
          rgba(57, 74, 241, 1) 63%,
          rgba(126, 45, 244, 1) 70%,
          rgba(162, 84, 247, 1) 77%,
          rgba(229, 117, 249, 1) 84%,
          rgba(251, 103, 164, 1) 91%,
          rgba(253, 127, 190, 1) 97%,
          rgba(255, 0, 191, 1) 100%
  );
  background-size: 500%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  animation: color-change 10s infinite ease-in-out;
}

@keyframes color-change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */
